/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main Styling */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
/* Utility Classes */

.container {
  margin: auto;
  max-width: 1100px;
  /* overflow: auto; */
  /* Above rule seems redundant as overflow:auto is added to #navbar. */
  padding: 0 20px;
}

/* Navbar */

#navbar {
  overflow: auto;
  background-color: #333;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar li {
  list-style: none;
  float: left;
}

#navbar ul {
  float: right;
}

#navbar ul li a {
  display: block;
  padding: 20px;

  text-align: center;
}

#navbar ul li a:hover {
  background-color: #444;
  color: #f7c08a;
}

#navbar ul li a.current {
  background-color: #444;
  color: #f7c08a;
}

/* Showcase area */

.showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
  width: 100%;
  padding-top: 170px;
  text-align: center;
}

.showcase h1 {
  font-size: 60px;
  line-height: 1.2em;
  color: #fff;
}

.showcase h1 span {
  color: #f7c08a;
}

.showcase p {
  color: #fff;
  font-size: 20px;
  margin-top: 24px;
  line-height: 1.7em;
}

.showcase a {
  display: inline-block;
  margin-top: 10px;
  color: white;
  background-color: #333;
  font-size: 18px;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

/* If i comment out display: inline-block above then the 'a' tag will be an inline element and an inline elements respects the margin left and right and padding but not margin-top and margin-bottom, width and height. Their styling also do not have any effect on the page overall so padding-top of 'a' tag will overlap with margin-bottom of the element above.  */

.showcase a:hover {
  color: #333;
  background-color: #f7c08a;
}

/* Home-info section */

#home-info {
  overflow: auto;
}

#home-info #hotel-pic {
  background: url("../img/photo-1.jpg") no-repeat;
  float: left;
  width: 50%;
  height: 450px;
}

#home-info #hotel-content {
  color: #fff;
  background-color: #333;
  text-align: center;
  height: 450px;
  padding: 50px 30px;
  float: right;
  width: 50%;
  overflow: hidden;
}

#home-info #hotel-content p {
  padding-bottom: 20px;
}

#home-info #hotel-content a {
  display: inline-block;
  color: #333;
  background-color: #f4f4f4;
  font-size: 18px;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

#home-info #hotel-content a:hover {
  color: #333;
  background-color: #f7c08a;
}

#home-info #hotel-content span {
  color: #f7c08a;
}

/* Features Section */

#features {
  overflow: hidden;
}

#features div {
  float: left;
  width: 33.33%;
  padding: 3em;
  text-align: center;
}

#features #location,
#features #fitness-room {
  background-color: #f4f4f4;
}
#features #meals {
  background-color: #f7c08a;
}

/* Footer */

footer {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 2em;
}

/* About-info section */

#about-info {
  overflow: hidden;
  background-color: #f4f4f4;
}

#about-info #content {
  float: left;
  width: 50%;
  padding: 30px;
}

#about-info #content h1 {
  font-size: 2.5em;
}

#about-info #content span {
  color: #f7c08a;
}

#about-info #image {
  float: right;
  width: 50%;
  padding: 30px;
}

#about-info #image img {
  display: block;
  margin: auto;
  width: 70%;
  /* The above property fits the whole image as per its container */
  border-radius: 50%;
}

/* Testimonials */

#testimonials {
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  height: 600px;
  padding-top: 80px;
}

#testimonials h1 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

#testimonials .img {
  float: left;
  width: 15%;
  margin-right: 20px;
}

#testimonials img {
  width: 90%;
  border-radius: 50%;
}

#testimonials .persons {
  background-color: #f7c08a;
  margin-top: 2em;

  opacity: 0.9;
  border-radius: 5px;
  padding: 1.5em;
  overflow: auto;
}

/* Contact us */

#contact {
  padding-top: 40px;
}

#contact h1 {
  font-size: 2.5em;
}

#contact span {
  color: #f7c08a;
}

#contact label {
  display: block;
  margin-bottom: 8px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
}

#contact input:focus,
#contact textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact .form-group {
  margin-bottom: 1.2em;
}

#contact button {
  color: #fff;
  font-size: 18px;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  margin-bottom: 2em;
}

#contact button:hover {
  background-color: #f7c08a;
  color: #333;
}

/* Contact Info Section */

#contact-info {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#contact-info .box {
  text-align: center;
  float: left;
  width: 33.3%;
  padding: 40px;
}

#contact-info .box i {
  margin-bottom: 10px;
}
